.container-inline {
    width: 850px;
    height: 350px;
    background: rgb(243,255,117);
    background: linear-gradient(90deg, rgba(243,255,117,1) 0%, rgba(255,186,82,1) 100%);
}

#box-1-inline {
    width: 350px;
    height: 350px;
    display: inline;
    background-color: rgb(236, 225, 238);
}

#box-2-inline {
    width: 350px;
    height: 150px;
    display: block;
    background-color: rgb(210, 234, 236);
}

.container {
    width: 850px;
    height: 700px;
    display: flex;
    flex-direction: row;
    background: rgb(243,255,117);
    background: linear-gradient(90deg, rgba(243,255,117,1) 0%, rgba(255,186,82,1) 100%);
}

#box-1 {
    width: 250px;
    height: 250px;
    background-color: rgb(77, 50, 83);
}

#box-2 {
    width: 250px;
    height: 250px;
    background-color: rgb(35, 179, 192);
}

#box-1-1 {
    width: 250px;
    height: 250px;
    background-color: rgb(172, 45, 200);
}

#box-2-2 {
    width: 250px;
    height: 250px;
    background: rgb(255,180,178);
    background: linear-gradient(90deg, rgba(255,180,178,1) 0%, rgba(255,238,238,1) 100%);
}


.container-reverse {
    width: 850px;
    height: 700px;
    display: flex;
    flex-direction: row-reverse;
    background: rgb(243,255,117);
    background: linear-gradient(90deg, rgba(243,255,117,1) 0%, rgba(255,186,82,1) 100%);
}

.container-column {
    width: 850px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background: rgb(243,255,117);
    background: linear-gradient(90deg, rgba(243,255,117,1) 0%, rgba(255,186,82,1) 100%);
}

.container-column-reverse {
    width: 850px;
    height: 700px;
    display: flex;
    flex-direction: column-reverse;
    background: rgb(243,255,117);
    background: linear-gradient(90deg, rgba(243,255,117,1) 0%, rgba(255,186,82,1) 100%);
}


.container-justify {
    width: 850px;
    height: 300px;
    display: flex;
    justify-content: center;
    background: rgb(243,255,117);
    background: linear-gradient(90deg, rgba(243,255,117,1) 0%, rgba(255,186,82,1) 100%);
}

.font-weight h1 {
    font-weight: normal;
    
}

.font-weight-1 h1 {
    font-weight: bold;
}

.font-weight-2 h1 {
    font-weight: 900;
}